mark.uai-mark, span.active-user-indicator mark {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 5px;
  background: #ccc;
}

mark.uai-mark.active {
  background: #52B847;
}

span.uai {
  margin-left: 5px;
  font-size: 85%;
  color: #888;
}

span.uai.uai-name {
  margin: 0;
}

span.uai.no-active-text, span.uai.no-nodata-text {
  display: none;
}
